<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= business.title %></title>
</head>
<body>
    <h1><%= business.title %></h1>
    <h1><%= business.description %></h1>
    <h1><%= business.location %></h1>
<a href="/business">All Businesses</a>
<a href="/business/<%= business._id %>/update">Update Business</a>
<form action="/business/<%= business._id %>?_method=DELETE" method="POST" style="margin-top: 20px;">
    <button type="submit" onclick="return confirm('Are you sure you want to delete it?')">
        Delete
    </button>
</form>
</body>
</html>
